/*
Credit: http://www.templatemo.com
*/

/* 
Zine Blue Template 
http://www.templatemo.com/preview/templatemo_220_zine_blue 
*/

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
		
.post_section a:link,.post_section a:visited { color: #033772; text-decoration: none; font-weight: normal; } 
.post_section a:active,.post_section a:hover { color: #ffffff; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

.post_section {
	margin-bottom: 10px;
	 overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.post_section h5 {
	color: #a42500;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	padding: 10px 0 10px 0;
}

.post_section p {
	margin-bottom: 20px;
}

.post_section img {
	margin: 20px 0;
}
.content p{ 
        width:100%; 
         margin:20px auto;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
}
.post_section span{
	color:#033772;
}


/* 
Gift Red Template 
http://www.templatemo.com/preview/templatemo_362_gift_red 
*/

a, a:link, a:visited {font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

a.more { display: block; color: #000; margin-top: 20px; padding-left: 20px; font-weight: bold; background: url(../images/templatemo_more.jpg) center left no-repeat }
a.more:hover { color: #000; text-decoration: underline }

img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color: #f00; }
cite a, cite a:link, cite a:visited  { font-weight: bold; color:#f00; }
cite span { font-weight: 400; color: #7e7d7d; }
em { color: #000; }

h1, h2, h3, h4, h5, h6 { color: #f00; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 20px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_fl { float: left; margin: 3px 30px 0 0 }
.image_fr { float: right; margin: 3px 0 0 30px }

.tmo_list { list-style: none; padding: 0 0 0 0px;Max-Height:200px;Max-Width:220px;overflow-y:hidden; margin-left: 15;margin-top: 30px; }
.tmo_list li { color: #7e7d7d; margin-bottom: 8px }
.tmo_list li a { color: #7e7d7d; font-weight: normal; padding-left: 10px; text-decoration: none; background: url(../images/templatemo_list.png) 0 5px scroll no-repeat }
.tmo_list li a:hover { text-decoration: underline }

#templatemo_wrapper { width: 960px; padding: 0 10px; margin: 0 auto; }

#templatemo_wrapper p{
	border-bottom: 1px dotted #ccc;
}
#site_title { float: left; margin: 20px 0 10px }
#site_title h1 { margin: 0; padding: 0 }
#site_title h1 a { display: block; width: 300px; height: 60px; color: #000; text-indent: -10000px; background: url(../images/templatemo_logo.png) top left no-repeat }


#templatemo_content {
	float: left;
	width: 440px;
	background-color: #fffdf6;
}

#templatemo_left_sidebar {
	width: 200px; 
	float: left;
	margin-right: 30px;
	background-color: #fffdf6;
}

#templatemo_right_sidebar {
	width: 260px;
	float: right;
	background-color: #fffdf6;
}

.p_box { padding: 30px; border-bottom: 1px dotted #ccc;padding-top: 1px; }
.p_box h2 { font-size: 18px; margin-bottom: 15px; }
.image_frame { display: inline-block; float: right; margin-right: 20px; width: 124px; height: 127px; background: url(../images/templatemo_image_frame.png) no-repeat }
.image_frame img { padding: 18px 0 0 19px; }
a.read_more { display: block; margin-top: 40px; float: right; width: 118px; height: 40px; background: url(../images/templatemo_read_more.png) no-repeat }

.sb_box { padding-bottom: 5px; margin-bottom: 5px;}
.sb_ads { display: block; margin-bottom: 20px }

.news_box { padding: 20px 10px 20px; border-bottom: 1px dotted #ccc  }
.news_box h3 { font-size: 16px; margin-bottom: 5px }

#special_box { position: relative; margin-top: 20px; border: 1px solid #ccc; border-top: 4px solid #ccc; padding: 20px 10px }
#special_box h3 { font-size: 16px; font-weight: bold }
#special_box .sb_text { position: absolute; top: 60px; right: 10px; width: 120px; display: block; }
#special_box h4 { font-size: 12px; font-weight: bold; margin-bottom: 5px }

.content_title {text-align:center; position: relative;  display: block; height: 33px; line-height: 33px; padding: 0 10px; background: url(../images/templatemo_h1r.jpg) center right no-repeat; font-size: 18px; color: #1e1e1e; }
.content_title span { position: absolute; left: 0; top: 0; width: 10px; height: 33px; background: url(../images/templatemo_h1l.jpg) no-repeat center left }

/* footer */
#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	
}

#templatemo_footer {
	clear: both;
	width: 1100px;
	padding: 10px 0px;	
	margin: 0 auto;
	color: #d3d2d2;
	text-align: center;
	font-size: 10;
}

#templatemo_footer a {
	color: #d3d2d2; 
	text-decoration: underline;
}
/*********************/
#copyright{clear: both; width:1100px; height:80px; margin:0 auto 0px auto; text-align:center; border:1px solid #d50000; background-color:#fff; color:#444;}
#copyright a{color:#444;}
#copyright li{line-height:25px;list-style-type:none;}
#bottomLine{clear: both; font-size:0; line-height:0; height:8px; background-color:#940000;}
.clear{clear:both;}
