<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.Lwoo.mapper.CategoryMapper">
    <resultMap type="Category" id="categoryBean">
            <id column="id" property="id" />
            <result column="category" property="category" />
            <!-- 一对多的关系 -->
            <collection property="assos" ofType="Asso">
                <id column="id" property="id" />
                <result column="tname" property="tname" />
                <result column="description" property="description" />
                <result column="logo" property="logo" />
            </collection>
        </resultMap>
         <!-- 关联查询分类和社团表 -->
        <select id="getCatagoryList" resultMap="categoryBean">
            select c.*, a.* from category_ c left join asso a on c.id = a.cid 
        </select> 
        
    	<insert id="add" parameterType="Category">
    		insert into category_(category) values(#{category})
    	</insert>
    	<delete id="delete" parameterType="Category">
    		delete from category_ where id=#{id}
    	</delete>
    	<select id="get" parameterType="_int" resultType="Category">
    		select * from category_ where id=#{id}
    	</select>
    	<update id="update" parameterType="Category">
    		update category_ set category=#{category} where id=#{id}
    	</update>
    	<select id="list" resultType="Category">
    	select * from category_  order by id desc
    	</select>
    	<select id="findByUsername" parameterType="string" resultType="Category">
    	select * from category_  where category=#{username}
    	</select>
    </mapper>