<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.Lwoo.mapper.UserMapper">
    	 <resultMap type="User" id="userBean">
            <id column="id" property="id" />
             <id column="assoId" property="assoId" />
            <!-- 多对一的关系 -->
            <association property="asso" select="selectAsso" column="assoId" javaType="Asso">
             </association>
        </resultMap>
    	<select id="selectAsso" parameterType="_int" resultType="Asso">  
       		 select * from asso where id = #{id}  
    	</select> 
    	<insert id="add" parameterType="User">
    		insert into user(username,password,sex,email,statu,assoId,realname,uclass) values(#{username},#{password},#{sex},#{email},#{statu},#{assoId},#{realname},#{uclass})
    	</insert>
    	<delete id="delete" parameterType="User">
    		delete from user where id=#{id}
    	</delete>
    	<select id="get" parameterType="_int" resultType="User">
    		select * from user where id=#{id}
    	</select>
    	<update id="update" parameterType="User">
    		update user set username=#{username},password=#{password},sex=#{sex},email=#{email},statu=#{statu},assoId=#{assoId},uclass=#{uclass} where id=#{id}
    	</update>
    	<select id="list" resultType="User" resultMap="userBean">
    	select * from user order by id desc
    	</select>
    	<select id="checkLogin" parameterType="string" resultMap="userBean">
    		select * from user where username=#{username} and password=#{password}
    	</select>
    	<!-- findByUsername -->
    	<select id="findByUsername" parameterType="String" resultType="User">
    		select * from user where username=#{username}
    	</select>
    	<select id="search" parameterType="string" resultType="User">
    	select * from user  where username like "%"#{fingData}"%"
    	</select>
    	<select id="findByEmail" parameterType="string" resultType="User">
    		select * from User where email=#{email}
    	</select>
    	<select id="getListByAssoId" parameterType="_int" resultMap="userBean">
    		select * from User where assoId=#{assoId}
    	</select>
    	<select id="getListNostatu" parameterType="_int" resultType="User">
    		select * from User where assoId=#{assoId} and statu=#{statu}
    	</select>
    </mapper>